In [2]:
import requests
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import statistics
print('Libraries imported')

Libraries imported

In [3]:
#### The first column identifies the 39 neighborhoods of San Francisco with a number between 0 and 38.
#### Each of the other column headings indicate the time a work shift begins so the commute time is given for arrving in 
#### time for that shift from the neighborhood indicated by row number.

df = pd.read_csv("CommutetimetoSalesforce4.csv")
df.shape
df.head()

,Mon 07,Mon 08,Mon 09,Mon 10,Mon 11,Mon 12,Mon 13,Mon 14,Mon 15,Mon 16,...,Fri 08,Fri 09,Fri 10,Fri 11,Fri 12,Fri 13,Fri 14,Fri 15,Fri 16,Fri 17
0,1052,1669,1669,1669,1347,1347,1347,1347,1347,1347,...,1669,1669,1669,1347,1347,1347,1347,1347,1347,1499
1,948,1801,1801,1801,1205,1205,1205,1205,1205,1205,...,1801,1801,1801,1205,1205,1205,1205,1205,1205,1691
2,1024,1885,1885,1885,1356,1356,1356,1356,1356,1356,...,1885,1885,1885,1356,1356,1356,1356,1356,1356,1605
3,380,536,536,536,521,521,521,521,521,521,...,536,536,536,521,521,521,521,521,521,640
4,1181,2272,2272,2272,1496,1496,1496,1496,1496,1496,...,2272,2272,2272,1496,1496,1496,1496,1496,1496,2316

In [4]:
df.shape

(39, 55)

In [5]:
dF = pd.read_csv("TravelbackHomefromSalesforce4.csv")
dF.shape
dF.head()
columns_back=dF.columns

In [6]:
import random
neighbourhood_list=[]
for x in range(0,200):
    y=random.randint(0,38)
    neighbourhood_list.append(y)
print(neighbourhood_list)

[29, 7, 9, 5, 13, 17, 37, 9, 19, 20, 28, 19, 30, 16, 3, 15, 20, 36, 30, 4, 18, 34, 36, 3, 29, 37, 6, 9, 31, 30, 9, 8, 37, 17, 17, 1, 22, 25, 29, 3, 30, 13, 5, 31, 22, 7, 2, 16, 37, 13, 24, 5, 29, 17, 11, 8, 5, 33, 35, 8, 3, 3, 33, 33, 5, 34, 36, 6, 24, 33, 4, 15, 14, 12, 5, 18, 29, 10, 34, 36, 1, 25, 18, 17, 37, 1, 37, 26, 38, 8, 8, 8, 19, 37, 30, 35, 23, 35, 0, 12, 11, 13, 28, 23, 21, 24, 21, 38, 6, 4, 14, 21, 36, 34, 36, 35, 15, 3, 8, 26, 27, 10, 5, 38, 11, 7, 27, 30, 14, 20, 38, 37, 36, 30, 28, 15, 24, 22, 22, 35, 0, 16, 21, 15, 31, 27, 13, 26, 28, 0, 26, 0, 21, 17, 31, 31, 3, 6, 30, 25, 37, 21, 24, 30, 11, 34, 7, 9, 15, 27, 28, 34, 15, 9, 33, 8, 4, 35, 32, 32, 33, 5, 26, 32, 18, 18, 11, 3, 34, 18, 38, 31, 15, 27, 29, 16, 35, 25, 4, 0]

In [7]:
print(neighbourhood_list[29])
print(neighbourhood_list[50])

30
24

In [8]:
#df=df.reindex([3,25,38,17,6,32,16,22,25,15,5,28,1,30,23,7,38,21,6,27,2,36,19,18,31,26,4,20,21,27,19,16,27,15,15,36,31,31,12,8,1,39,27,29,20,15,34,10,28,15,28,2,32,14,25,12,37,16,1,32,32,23,33,39,31,22,7,6,24,36,19,25,25,33,22,23,17,6,28,20,32,38,23,16,37,29,13,33,30,28,20,32,23,27,28,16,1,5,3,16,9,28,15,39,14,14,3,34,33,24,35,17,26,30,1,31,5,28,39,36,26,29,33,36,36,24,28,18,31,39,2,29,30,7,25,12,27,16,34,18,12,31,22,21,15,19,22,13,36,35,1,36,37,16,24,28,37,6,15,9,36,10,30,39,10,28,11,6,5,5,31,2,35,26,9,34,20,28,5,33,7,4,25,10,31,5,15,22,32,36,24,33,20,1,15,14,20,11,33])

In [9]:
#dF=dF.reindex([3,25,38,17,6,32,16,22,25,15,5,28,1,30,23,7,38,21,6,27,2,36,19,18,31,26,4,20,21,27,19,16,27,15,15,36,31,31,12,8,1,39,27,29,20,15,34,10,28,15,28,2,32,14,25,12,37,16,1,32,32,23,33,39,31,22,7,6,24,36,19,25,25,33,22,23,17,6,28,20,32,38,23,16,37,29,13,33,30,28,20,32,23,27,28,16,1,5,3,16,9,28,15,39,14,14,3,34,33,24,35,17,26,30,1,31,5,28,39,36,26,29,33,36,36,24,28,18,31,39,2,29,30,7,25,12,27,16,34,18,12,31,22,21,15,19,22,13,36,35,1,36,37,16,24,28,37,6,15,9,36,10,30,39,10,28,11,6,5,5,31,2,35,26,9,34,20,28,5,33,7,4,25,10,31,5,15,22,32,36,24,33,20,1,15,14,20,11,33])

In [10]:
df=df.reindex(neighbourhood_list)

In [11]:
dF=dF.reindex(neighbourhood_list)

In [12]:
dF=dF.divide(60)

df=df.divide(60)

In [13]:
df

,Mon 07,Mon 08,Mon 09,Mon 10,Mon 11,Mon 12,Mon 13,Mon 14,Mon 15,Mon 16,...,Fri 08,Fri 09,Fri 10,Fri 11,Fri 12,Fri 13,Fri 14,Fri 15,Fri 16,Fri 17
29,16.483333,25.050000,25.050000,25.050000,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,...,25.050000,25.050000,25.050000,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,22.850000
7,23.466667,39.933333,39.933333,39.933333,32.216667,32.216667,32.216667,32.216667,32.216667,32.216667,...,39.933333,39.933333,39.933333,32.216667,32.216667,32.216667,32.216667,32.216667,32.216667,38.600000
9,11.916667,23.466667,23.466667,23.466667,15.033333,15.033333,15.033333,15.033333,15.033333,15.033333,...,23.466667,23.466667,23.466667,15.033333,15.033333,15.033333,15.033333,15.033333,15.033333,17.466667
5,3.150000,4.766667,4.766667,4.766667,5.833333,5.833333,5.833333,5.833333,5.833333,5.833333,...,4.766667,4.766667,4.766667,5.833333,5.833333,5.833333,5.833333,5.833333,5.833333,6.816667
13,22.916667,39.633333,39.633333,39.633333,26.116667,26.116667,26.116667,26.116667,26.116667,26.116667,...,39.633333,39.633333,39.633333,26.116667,26.116667,26.116667,26.116667,26.116667,26.116667,33.716667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,16.000000,29.466667,29.466667,29.466667,20.283333,20.283333,20.283333,20.283333,20.283333,20.283333,...,29.466667,29.466667,29.466667,20.283333,20.283333,20.283333,20.283333,20.283333,20.283333,22.850000
35,19.666667,32.600000,32.600000,32.600000,25.300000,25.300000,25.300000,25.300000,25.300000,25.300000,...,32.600000,32.600000,32.600000,25.300000,25.300000,25.300000,25.300000,25.300000,25.300000,33.316667
25,16.483333,25.316667,25.316667,25.316667,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,...,25.316667,25.316667,25.316667,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,22.850000
4,19.683333,37.866667,37.866667,37.866667,24.933333,24.933333,24.933333,24.933333,24.933333,24.933333,...,37.866667,37.866667,37.866667,24.933333,24.933333,24.933333,24.933333,24.933333,24.933333,38.600000
0,17.533333,27.816667,27.816667,27.816667,22.450000,22.450000,22.450000,22.450000,22.450000,22.450000,...,27.816667,27.816667,27.816667,22.450000,22.450000,22.450000,22.450000,22.450000,22.450000,24.983333

In [12]:
dF.head()
df.shape
df.head()
column_names=df.columns
print(dF.shape)
print(df.tail())

(200, 80)
       Mon 07     Mon 08     Mon 09     Mon 10     Mon 11     Mon 12  \
26  16.000000  31.966667  31.966667  31.966667  20.283333  20.283333
21  12.050000  15.883333  15.883333  15.883333  13.666667  13.666667
4   19.683333  37.866667  37.866667  37.866667  24.933333  24.933333
1   15.800000  30.016667  30.016667  30.016667  20.083333  20.083333
16  16.000000  29.466667  29.466667  29.466667  20.283333  20.283333

       Mon 13     Mon 14     Mon 15     Mon 16  ...     Fri 08     Fri 09  \
26  20.283333  20.283333  20.283333  20.283333  ...  31.966667  31.966667
21  13.666667  13.666667  13.666667  13.666667  ...  15.883333  15.883333
4   24.933333  24.933333  24.933333  24.933333  ...  37.866667  37.866667
1   20.083333  20.083333  20.083333  20.083333  ...  30.016667  30.016667
16  20.283333  20.283333  20.283333  20.283333  ...  29.466667  29.466667

       Fri 10     Fri 11     Fri 12     Fri 13     Fri 14     Fri 15  \
26  31.966667  20.283333  20.283333  20.283333  20.283333  20.283333
21  15.883333  13.666667  13.666667  13.666667  13.666667  13.666667
4   37.866667  24.933333  24.933333  24.933333  24.933333  24.933333
1   30.016667  20.083333  20.083333  20.083333  20.083333  20.083333
16  29.466667  20.283333  20.283333  20.283333  20.283333  20.283333

       Fri 16     Fri 17
26  20.283333  28.183333
21  13.666667  16.666667
4   24.933333  38.600000
1   20.083333  28.183333
16  20.283333  22.850000

[5 rows x 55 columns]

In [14]:
df

,Mon 07,Mon 08,Mon 09,Mon 10,Mon 11,Mon 12,Mon 13,Mon 14,Mon 15,Mon 16,...,Fri 08,Fri 09,Fri 10,Fri 11,Fri 12,Fri 13,Fri 14,Fri 15,Fri 16,Fri 17
29,16.483333,25.050000,25.050000,25.050000,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,...,25.050000,25.050000,25.050000,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,22.850000
7,23.466667,39.933333,39.933333,39.933333,32.216667,32.216667,32.216667,32.216667,32.216667,32.216667,...,39.933333,39.933333,39.933333,32.216667,32.216667,32.216667,32.216667,32.216667,32.216667,38.600000
9,11.916667,23.466667,23.466667,23.466667,15.033333,15.033333,15.033333,15.033333,15.033333,15.033333,...,23.466667,23.466667,23.466667,15.033333,15.033333,15.033333,15.033333,15.033333,15.033333,17.466667
5,3.150000,4.766667,4.766667,4.766667,5.833333,5.833333,5.833333,5.833333,5.833333,5.833333,...,4.766667,4.766667,4.766667,5.833333,5.833333,5.833333,5.833333,5.833333,5.833333,6.816667
13,22.916667,39.633333,39.633333,39.633333,26.116667,26.116667,26.116667,26.116667,26.116667,26.116667,...,39.633333,39.633333,39.633333,26.116667,26.116667,26.116667,26.116667,26.116667,26.116667,33.716667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,16.000000,29.466667,29.466667,29.466667,20.283333,20.283333,20.283333,20.283333,20.283333,20.283333,...,29.466667,29.466667,29.466667,20.283333,20.283333,20.283333,20.283333,20.283333,20.283333,22.850000
35,19.666667,32.600000,32.600000,32.600000,25.300000,25.300000,25.300000,25.300000,25.300000,25.300000,...,32.600000,32.600000,32.600000,25.300000,25.300000,25.300000,25.300000,25.300000,25.300000,33.316667
25,16.483333,25.316667,25.316667,25.316667,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,...,25.316667,25.316667,25.316667,19.733333,19.733333,19.733333,19.733333,19.733333,19.733333,22.850000
4,19.683333,37.866667,37.866667,37.866667,24.933333,24.933333,24.933333,24.933333,24.933333,24.933333,...,37.866667,37.866667,37.866667,24.933333,24.933333,24.933333,24.933333,24.933333,24.933333,38.600000
0,17.533333,27.816667,27.816667,27.816667,22.450000,22.450000,22.450000,22.450000,22.450000,22.450000,...,27.816667,27.816667,27.816667,22.450000,22.450000,22.450000,22.450000,22.450000,22.450000,24.983333

In [19]:
df=df.round(1)

In [20]:
df.head()

,Mon 07,Mon 08,Mon 09,Mon 10,Mon 11,Mon 12,Mon 13,Mon 14,Mon 15,Mon 16,...,Fri 08,Fri 09,Fri 10,Fri 11,Fri 12,Fri 13,Fri 14,Fri 15,Fri 16,Fri 17
29,16.5,25.0,25.0,25.0,19.7,19.7,19.7,19.7,19.7,19.7,...,25.0,25.0,25.0,19.7,19.7,19.7,19.7,19.7,19.7,22.8
7,23.5,39.9,39.9,39.9,32.2,32.2,32.2,32.2,32.2,32.2,...,39.9,39.9,39.9,32.2,32.2,32.2,32.2,32.2,32.2,38.6
9,11.9,23.5,23.5,23.5,15.0,15.0,15.0,15.0,15.0,15.0,...,23.5,23.5,23.5,15.0,15.0,15.0,15.0,15.0,15.0,17.5
5,3.2,4.8,4.8,4.8,5.8,5.8,5.8,5.8,5.8,5.8,...,4.8,4.8,4.8,5.8,5.8,5.8,5.8,5.8,5.8,6.8
13,22.9,39.6,39.6,39.6,26.1,26.1,26.1,26.1,26.1,26.1,...,39.6,39.6,39.6,26.1,26.1,26.1,26.1,26.1,26.1,33.7

Here we define a loop to create a random schedule for one individual. Later we will create a loop for all the individuals.

In [13]:


def create_day_schedule(work_hours=[7, 21], shift_length=[3, 5]):
    #Chooses a random start shift length for a day, returns them in a list
    np.random.seed()
    start=random.randint(work_hours[0], work_hours[1]-4)
    shift=random.randint(shift_length[0], min(shift_length[1],work_hours[1]-start ))
    return [start, shift]


def create_worker_schedule():
    #Returns a list [MonStart, MonShiftLength,...,]
    schedule=[]
    for day in ['Mon', 'Tue', 'Wed', 'Thur', 'Fri']:
        x=create_day_schedule()
        schedule.append(x[0]) 
        schedule.append(x[1])
    return schedule

def create_workforce_schedule(n=200, alpha=35):
    cols=['Monday Start Time', 'Monday Shift Length', 'Tuesday Start Time', 'Tuesday Shift Length', 'Wednesday Start Time', 'Wednesday Shift Length', 'Thursday Start Time', 'Thursday Shift Length', 'Friday Start Time', 'Friday Shift Length']
    df= pd.DataFrame({cols[0]: range(0, n), cols[1]: range(0, n), cols[2]: range(0, n), cols[3]: range(0, n), cols[4]: range(0, n), cols[5]: range(0, n), cols[6]: range(0, n), cols[7]: range(0, n), cols[8]: range(0, n), cols[9]: range(0, n)})
    #number_of_zeros=int(n-35/100*n)
    for employee in range(0, n):
        schedule=create_worker_schedule()
        for i in range(0, 10):
            df[cols[i]][employee]=schedule[i]
    
    return df
 
    
    
def count_employee_hours(df):
    x=[]
    for i in range(0, len(df['Monday Start Time'])):
        x.append(df['Monday Shift Length'][i]+df['Tuesday Shift Length'][i]+df['Wednesday Shift Length'][i]+df['Thursday Shift Length'][i]+df['Friday Shift Length'][i])
    print(x)

In [14]:
x=create_workforce_schedule()

In [15]:
x.head()

,Monday Start Time,Monday Shift Length,Tuesday Start Time,Tuesday Shift Length,Wednesday Start Time,Wednesday Shift Length,Thursday Start Time,Thursday Shift Length,Friday Start Time,Friday Shift Length
0,10,3,13,4,16,3,11,5,16,5
1,15,3,14,5,13,4,8,5,17,3
2,13,5,11,5,15,4,7,3,8,5
3,8,3,15,4,13,5,16,5,15,4
4,10,4,9,5,8,4,16,4,16,3

In [16]:
x.iloc[29]

Monday Start Time         14
Monday Shift Length        4
Tuesday Start Time        10
Tuesday Shift Length       3
Wednesday Start Time      10
Wednesday Shift Length     5
Thursday Start Time        8
Thursday Shift Length      4
Friday Start Time         15
Friday Shift Length        3
Name: 29, dtype: int64

In [17]:
count_employee_hours(x)

[20, 20, 22, 21, 20, 20, 20, 22, 23, 17, 20, 19, 20, 20, 21, 19, 21, 21, 18, 19, 22, 24, 21, 19, 17, 20, 20, 19, 18, 19, 21, 18, 24, 17, 19, 22, 21, 21, 20, 17, 20, 22, 22, 19, 22, 18, 23, 20, 19, 17, 18, 19, 16, 19, 19, 23, 19, 18, 20, 18, 18, 19, 23, 22, 21, 20, 20, 19, 21, 20, 21, 19, 20, 23, 20, 21, 22, 19, 19, 20, 24, 22, 20, 22, 23, 19, 18, 17, 21, 24, 18, 20, 17, 19, 19, 22, 22, 22, 20, 20, 22, 21, 19, 18, 18, 18, 17, 17, 23, 21, 20, 23, 18, 18, 21, 20, 23, 20, 18, 20, 19, 22, 20, 21, 22, 20, 20, 20, 22, 20, 17, 17, 19, 20, 22, 20, 22, 21, 20, 18, 17, 23, 20, 19, 18, 23, 19, 18, 19, 20, 20, 18, 20, 20, 21, 18, 17, 20, 19, 17, 17, 22, 18, 21, 19, 25, 21, 21, 19, 21, 19, 18, 22, 19, 23, 19, 23, 20, 18, 18, 23, 22, 19, 21, 24, 21, 22, 19, 21, 18, 16, 18, 22, 19, 20, 20, 17, 21, 18, 18]

In [18]:
 def print_alpha(df):
    
    #This function inputs the schedule for an entire workforce and prints the mean and max alpha values
    
    n=200
    #Initialize a string with the days of the week
    daystring=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    #Create the list of times people can be in the office
    times=range(5, 25)
    #Create an empty list to copy
    emp=[0 for x in times]
    #Create the data frame with just 
    df2= pd.DataFrame({'Time': times})
    for day in daystring:
        df2[day]=emp.copy()
    df2=df2.set_index('Time')
    #loop through the time slots in the week, and the employees. Check if each employee is working in the timeslot.
    #If so, add one to the employee count.
    for day in daystring:
        for time in times:
            for employee in range(0,n):
                if time>=df[day+' Start Time'][employee] and time < (df[day+ ' Shift Length'][employee]+df[day+' Start Time'][employee]):
                    (df2[day]).loc[time]=((df2[day]).loc[time])+1
    maxlist=[]
    for day in daystring:
        maxlist.append(df2[day].max())
    maxemployees=max(maxlist)
    maxalpha=maxemployees/n*100
    print ('The highest percent of employees in the office at any one time is '+ str(maxalpha)+'%')
    empcountlist=[]
    for day in daystring:
        for time in times:
            if df2[day].loc[time]!=0:
                empcountlist.append((df2[day][time])/n*100)

    mean=statistics.mean(empcountlist)
    median=statistics.median(empcountlist)
    print ('The mean percent of employees in the office at any one time is '+ str(mean)+'%'+ ' and the median is ' + str(median)+ '%')

In [19]:
def count_employees(sched):
    return len(sched['Monday Start Time'])

In [20]:
def check_alpha(df):
    n=len(df['Monday Start Time'])
    #Initialize a string with the days of the week
    daystring=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
    #Create the list of times people can be in the office
    times=range(5, 25)
    #Create an empty list to copy
    emp=[0 for x in times]
    #Create the data frame with just 
    df2= pd.DataFrame({'Time': times})
    for day in daystring:
        df2[day]=emp.copy()
    df2=df2.set_index('Time')
    #loop through the time slots in the week, and the employees. Check if each employee is working in the timeslot.
    #If so, add one to the employee count.
    for day in daystring:
        for time in times:
            for employee in range(0,n):
                if time>=df[day+' Start Time'][employee] and time < (df[day+ ' Shift Length'][employee]+df[day+' Start Time'][employee]):
                    (df2[day]).loc[time]=((df2[day]).loc[time])+1
    maxlist=[]
    for day in daystring:
        maxlist.append(df2[day].max())
    maxemployees=max(maxlist)
    maxalpha=maxemployees/n*100
    return(maxalpha)

In [21]:
print_alpha(x)

The highest percent of employees in the office at any one time is 43.5%
The mean percent of employees in the office at any one time is 28.52857142857143% and the median is 33.0%

In [22]:
def calculate_commute_time_there(schedule):
    cols=['Monday Start Time', 'Monday Shift Length', 'Tuesday Start Time', 'Tuesday Shift Length', 'Wednesday Start Time', 'Wednesday Shift Length', 'Thursday Start Time', 'Thursday Shift Length', 'Friday Start Time', 'Friday Shift Length']
    commute_list=[]
    for employee in range(0, len(schedule['Monday Start Time'])):
        commute_time=0
        for column in [0,2,4,6,8]:
            start_time=schedule[cols[column]][employee]
            commute_time=commute_time+(df[column_names[((column)/2*11)+start_time-7]]).iloc[employee]
            #print('employee='+str(employee)+'column='+str(column)+'commute time='+str(commute_time)+'\n')
        commute_list.append(commute_time)
    #print(commute_list)
    return statistics.mean(commute_list)/5

In [23]:
def calculate_commute_time_back(schedule):
    cols=['Monday Start Time', 'Monday Shift Length', 'Tuesday Start Time', 'Tuesday Shift Length', 'Wednesday Start Time', 'Wednesday Shift Length', 'Thursday Start Time', 'Thursday Shift Length', 'Friday Start Time', 'Friday Shift Length']
    commute_list=[]
    for employee in range(0, len(schedule['Monday Start Time'])):
        commute_time=0
        for column in [0,2,4,6,8]:
            start_time=schedule[cols[column]][employee]
            commute_time=commute_time+(dF[columns_back[((column)/2*16)+start_time-10]]).iloc[employee]
            #print('employee='+str(employee)+'column='+str(column)+'commute time='+str(commute_time)+'\n')
        commute_list.append(commute_time)
    #print(commute_list)
    return statistics.mean(commute_list)/5

In [24]:
calculate_commute_time_back(x)

20.15705

In [25]:
def objective_function(schedule):
    x=check_alpha(schedule)/100* (calculate_commute_time_there(schedule)+calculate_commute_time_back(schedule))
    return(x)

In [26]:
test=objective_function(x)
print(test)

18.356623000000003

Next we will generate a population.

In [27]:
def generate_population(P=40000, WorkForceSize=200):
    x=[]
    for i in range(0, P):
        y=create_workforce_schedule(n=WorkForceSize)
        x.append(y)
    return x

In [28]:
init_pop=generate_population(P=20)

In [29]:
def mate(A,B, mutationprob=0.15):
    fitA=objective_function(A)
    fitB=objective_function(B)
    prob=fitB/(fitA+fitB)
    C=A.copy()
    for employee in range(0, count_employees(A)):
        value=random.random()
        value2=random.random()
        if value>prob:
            C.iloc[employee]=B.copy().iloc[employee]
        if value2<mutationprob:
            newemployee=create_worker_schedule()
            C.iloc[employee]=newemployee
        

    
    return C

In [30]:
A=create_workforce_schedule(n=5); B=create_workforce_schedule(n=5)
C=mate(A, B, mutationprob=0.50)
A.head()

,Monday Start Time,Monday Shift Length,Tuesday Start Time,Tuesday Shift Length,Wednesday Start Time,Wednesday Shift Length,Thursday Start Time,Thursday Shift Length,Friday Start Time,Friday Shift Length
0,17,4,17,4,8,4,9,3,11,4
1,7,4,8,4,9,3,14,3,16,4
2,10,3,13,3,15,5,12,3,7,3
3,10,5,10,4,9,3,12,3,13,4
4,10,3,17,3,11,5,7,5,11,5

In [31]:
B.head()

,Monday Start Time,Monday Shift Length,Tuesday Start Time,Tuesday Shift Length,Wednesday Start Time,Wednesday Shift Length,Thursday Start Time,Thursday Shift Length,Friday Start Time,Friday Shift Length
0,17,4,7,4,14,3,12,5,7,3
1,8,4,16,5,10,5,16,5,7,5
2,16,4,8,4,16,3,17,3,16,5
3,14,4,7,4,10,3,17,3,12,4
4,16,3,8,4,15,5,16,3,11,5

In [32]:
C.head()

,Monday Start Time,Monday Shift Length,Tuesday Start Time,Tuesday Shift Length,Wednesday Start Time,Wednesday Shift Length,Thursday Start Time,Thursday Shift Length,Friday Start Time,Friday Shift Length
0,17,4,7,4,14,3,12,5,7,3
1,8,4,16,5,10,5,16,5,7,5
2,10,3,13,3,15,5,12,3,7,3
3,14,4,7,4,10,3,17,3,12,4
4,14,5,8,4,14,5,7,5,12,5

In [33]:
def compare_objective(A,B,C):
    #Compares A B and C and returns 'A', 'B', or 'C' representing whichever letter gets thrown out
    fitA=objective_function(A)
    fitB=objective_function(B)
    fitC=objective_function(C)

    if fitC>fitA and fitC>fitB:
        return 'C'
    elif fitB>fitC:
        return 'B'
    else:
        return 'A'

In [34]:
compare_objective(A,B,C)

'B'

In [35]:
print(objective_function(A))
print(objective_function(B))
print(objective_function(C))

41.38773333333334
40.7456
29.3556

In [36]:
def selection(population):
    #Takes in a population, mates its members, and returns a new population of the same size based on fitness
    new_pop=[]
    P=len(population)
    for i in range(0, int(P/2)):
        Aindex=random.randint(0, P-1)
        Bindex=random.randint(0, P-1)
        A=population[Aindex]
        B=population[Bindex]
        C=mate(A,B)
        dead=compare_objective(A,B,C)
        if dead=='A':
            new_pop.append(B)
            new_pop.append(C)
        elif dead=='B':
            new_pop.append(A)
            new_pop.append(C)
        else:
            new_pop.append(A)
            new_pop.append(B)
    return(new_pop)

In [37]:
population=generate_population(P=6)
print(population)

[     Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   17                    4                  14
1                   16                    3                   7
2                   11                    5                  10
3                    9                    3                  10
4                   17                    3                  10
..                 ...                  ...                 ...
195                 12                    3                  15
196                  8                    4                  15
197                 17                    4                  11
198                 11                    5                  14
199                  9                    5                  10

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       3                    16                       4
1                       5                     7                       4
2                       4                     7                       3
3                       4                    17                       4
4                       3                    17                       3
..                    ...                   ...                     ...
195                     5                    13                       4
196                     5                     8                       5
197                     4                     7                       5
198                     5                    17                       3
199                     3                    12                       4

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     10                      5                 10
1                     17                      4                 13
2                      7                      4                 10
3                     16                      4                 10
4                     17                      4                 12
..                   ...                    ...                ...
195                   16                      3                 10
196                   13                      3                  7
197                    7                      4                 11
198                   17                      3                 16
199                    9                      5                 16

     Friday Shift Length
0                      5
1                      3
2                      4
3                      3
4                      3
..                   ...
195                    3
196                    4
197                    5
198                    3
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   15                    5                  12
1                    8                    4                  17
2                   13                    3                   7
3                    8                    3                  15
4                    8                    5                  12
..                 ...                  ...                 ...
195                 14                    3                  16
196                 17                    3                   8
197                 15                    5                  16
198                 10                    3                  13
199                 10                    5                  17

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       3                    14                       3
1                       4                    16                       3
2                       4                     9                       3
3                       5                    17                       3
4                       4                    11                       3
..                    ...                   ...                     ...
195                     4                    11                       5
196                     5                    10                       5
197                     3                    14                       4
198                     4                    10                       5
199                     4                     8                       3

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     13                      3                 13
1                     11                      4                 11
2                      7                      3                 15
3                     14                      3                 13
4                      9                      3                 14
..                   ...                    ...                ...
195                    8                      4                  8
196                   16                      3                  7
197                    7                      5                 13
198                    8                      4                 13
199                   17                      3                  9

     Friday Shift Length
0                      3
1                      3
2                      4
3                      5
4                      4
..                   ...
195                    4
196                    5
197                    5
198                    4
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   13                    5                  10
1                    9                    4                  17
2                   11                    4                  12
3                    7                    5                  12
4                   16                    4                  15
..                 ...                  ...                 ...
195                 11                    4                   9
196                  9                    3                  17
197                  7                    4                  13
198                 13                    3                   7
199                 15                    3                   9

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       3                     7                       5
1                       4                    11                       5
2                       3                    17                       3
3                       5                    10                       3
4                       3                    13                       4
..                    ...                   ...                     ...
195                     3                    13                       5
196                     4                    10                       5
197                     3                    17                       3
198                     3                    11                       5
199                     4                    15                       5

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     14                      3                 16
1                     13                      4                 14
2                     10                      3                 10
3                      9                      3                  9
4                     11                      5                 11
..                   ...                    ...                ...
195                    7                      3                 16
196                   16                      5                 13
197                   16                      4                 16
198                   10                      5                 17
199                   14                      4                 16

     Friday Shift Length
0                      3
1                      4
2                      3
3                      5
4                      3
..                   ...
195                    3
196                    4
197                    4
198                    3
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                    7                    5                  16
1                   17                    4                  11
2                   13                    3                  14
3                   16                    3                  14
4                   10                    3                  12
..                 ...                  ...                 ...
195                 17                    4                  17
196                 14                    5                  11
197                 11                    3                   9
198                  7                    5                   8
199                 11                    5                  17

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       4                    10                       5
1                       4                    12                       3
2                       3                     8                       3
3                       4                    10                       5
4                       5                    13                       3
..                    ...                   ...                     ...
195                     4                    14                       3
196                     5                    10                       3
197                     5                     8                       3
198                     4                    16                       4
199                     3                    14                       5

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                      9                      5                 14
1                     16                      5                 17
2                      7                      4                 16
3                     10                      3                 12
4                     12                      5                 11
..                   ...                    ...                ...
195                   13                      3                  8
196                   11                      4                 16
197                   13                      3                 14
198                   11                      4                  9
199                   13                      3                  8

     Friday Shift Length
0                      4
1                      3
2                      3
3                      5
4                      3
..                   ...
195                    3
196                    5
197                    3
198                    4
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   11                    3                  11
1                   10                    4                  15
2                   17                    4                  13
3                    8                    3                  11
4                   12                    4                  12
..                 ...                  ...                 ...
195                  7                    3                  12
196                  8                    4                  16
197                  8                    3                  15
198                  9                    3                  16
199                 14                    4                  15

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       5                    12                       3
1                       3                    15                       5
2                       5                    13                       4
3                       3                    11                       5
4                       3                    16                       3
..                    ...                   ...                     ...
195                     4                    17                       4
196                     4                    14                       5
197                     3                     9                       3
198                     5                    16                       5
199                     4                     7                       4

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     16                      5                  9
1                     12                      4                 16
2                     13                      5                  8
3                     14                      4                 14
4                     16                      4                 12
..                   ...                    ...                ...
195                   16                      5                  7
196                    8                      4                 12
197                   17                      4                 16
198                   10                      4                 16
199                    7                      5                 14

     Friday Shift Length
0                      4
1                      4
2                      3
3                      3
4                      3
..                   ...
195                    3
196                    4
197                    3
198                    4
199                    3

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   12                    5                   9
1                   15                    4                   8
2                   11                    3                  10
3                   14                    4                  16
4                   15                    4                  14
..                 ...                  ...                 ...
195                 16                    3                  11
196                 10                    4                  14
197                  7                    4                  10
198                 17                    4                   8
199                 12                    4                  11

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       5                    13                       5
1                       3                     8                       4
2                       5                    17                       4
3                       3                     7                       5
4                       3                    14                       3
..                    ...                   ...                     ...
195                     5                    11                       3
196                     3                    11                       3
197                     4                    15                       5
198                     3                    11                       3
199                     3                     9                       3

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     17                      3                 13
1                      8                      3                  7
2                     17                      3                 10
3                     16                      3                 14
4                     10                      5                  7
..                   ...                    ...                ...
195                   12                      5                 12
196                   15                      5                  7
197                    9                      4                  8
198                   12                      5                 17
199                   13                      3                 10

     Friday Shift Length
0                      4
1                      4
2                      4
3                      3
4                      4
..                   ...
195                    5
196                    3
197                    3
198                    4
199                    4

[200 rows x 10 columns]]

In [38]:
newpopulation=selection(population)
print(newpopulation)

[     Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   13                    5                  10
1                    9                    4                  17
2                   11                    4                  12
3                    7                    5                  12
4                   16                    4                  15
..                 ...                  ...                 ...
195                 11                    4                   9
196                  9                    3                  17
197                  7                    4                  13
198                 13                    3                   7
199                 15                    3                   9

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       3                     7                       5
1                       4                    11                       5
2                       3                    17                       3
3                       5                    10                       3
4                       3                    13                       4
..                    ...                   ...                     ...
195                     3                    13                       5
196                     4                    10                       5
197                     3                    17                       3
198                     3                    11                       5
199                     4                    15                       5

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     14                      3                 16
1                     13                      4                 14
2                     10                      3                 10
3                      9                      3                  9
4                     11                      5                 11
..                   ...                    ...                ...
195                    7                      3                 16
196                   16                      5                 13
197                   16                      4                 16
198                   10                      5                 17
199                   14                      4                 16

     Friday Shift Length
0                      3
1                      4
2                      3
3                      5
4                      3
..                   ...
195                    3
196                    4
197                    4
198                    3
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                    7                    5                  16
1                   17                    4                  11
2                   13                    3                  14
3                   16                    3                  14
4                   10                    3                  12
..                 ...                  ...                 ...
195                 17                    4                  17
196                 14                    5                  11
197                 11                    3                   9
198                  7                    5                   8
199                 11                    5                  17

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       4                    10                       5
1                       4                    12                       3
2                       3                     8                       3
3                       4                    10                       5
4                       5                    13                       3
..                    ...                   ...                     ...
195                     4                    14                       3
196                     5                    10                       3
197                     5                     8                       3
198                     4                    16                       4
199                     3                    14                       5

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                      9                      5                 14
1                     16                      5                 17
2                      7                      4                 16
3                     10                      3                 12
4                     12                      5                 11
..                   ...                    ...                ...
195                   13                      3                  8
196                   11                      4                 16
197                   13                      3                 14
198                   11                      4                  9
199                   13                      3                  8

     Friday Shift Length
0                      4
1                      3
2                      3
3                      5
4                      3
..                   ...
195                    3
196                    5
197                    3
198                    4
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   12                    5                   9
1                   15                    4                   8
2                   11                    3                  10
3                   14                    4                  16
4                   15                    4                  14
..                 ...                  ...                 ...
195                 16                    3                  11
196                 10                    4                  14
197                  7                    4                  10
198                 17                    4                   8
199                 12                    4                  11

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       5                    13                       5
1                       3                     8                       4
2                       5                    17                       4
3                       3                     7                       5
4                       3                    14                       3
..                    ...                   ...                     ...
195                     5                    11                       3
196                     3                    11                       3
197                     4                    15                       5
198                     3                    11                       3
199                     3                     9                       3

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     17                      3                 13
1                      8                      3                  7
2                     17                      3                 10
3                     16                      3                 14
4                     10                      5                  7
..                   ...                    ...                ...
195                   12                      5                 12
196                   15                      5                  7
197                    9                      4                  8
198                   12                      5                 17
199                   13                      3                 10

     Friday Shift Length
0                      4
1                      4
2                      4
3                      3
4                      4
..                   ...
195                    5
196                    3
197                    3
198                    4
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   17                    4                  14
1                   16                    3                   7
2                   11                    5                  10
3                   14                    4                  16
4                   17                    3                  13
..                 ...                  ...                 ...
195                 16                    3                  11
196                 10                    4                  14
197                 13                    3                   8
198                 11                    5                  14
199                  9                    5                  10

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       3                    16                       4
1                       5                     7                       4
2                       4                     7                       3
3                       3                     7                       5
4                       5                    11                       5
..                    ...                   ...                     ...
195                     5                    11                       3
196                     3                    11                       3
197                     5                    13                       5
198                     5                    17                       3
199                     3                    12                       4

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     10                      5                 10
1                     17                      4                 13
2                      7                      4                 10
3                     16                      3                 14
4                     17                      4                 16
..                   ...                    ...                ...
195                   12                      5                 12
196                   15                      5                  7
197                   12                      3                 13
198                   17                      3                 16
199                    9                      5                 16

     Friday Shift Length
0                      5
1                      3
2                      4
3                      3
4                      3
..                   ...
195                    5
196                    3
197                    3
198                    3
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                    7                    5                  16
1                   17                    4                  11
2                   13                    3                  14
3                   16                    3                  14
4                   10                    3                  12
..                 ...                  ...                 ...
195                 17                    4                  17
196                 14                    5                  11
197                 11                    3                   9
198                  7                    5                   8
199                 11                    5                  17

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       4                    10                       5
1                       4                    12                       3
2                       3                     8                       3
3                       4                    10                       5
4                       5                    13                       3
..                    ...                   ...                     ...
195                     4                    14                       3
196                     5                    10                       3
197                     5                     8                       3
198                     4                    16                       4
199                     3                    14                       5

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                      9                      5                 14
1                     16                      5                 17
2                      7                      4                 16
3                     10                      3                 12
4                     12                      5                 11
..                   ...                    ...                ...
195                   13                      3                  8
196                   11                      4                 16
197                   13                      3                 14
198                   11                      4                  9
199                   13                      3                  8

     Friday Shift Length
0                      4
1                      3
2                      3
3                      5
4                      3
..                   ...
195                    3
196                    5
197                    3
198                    4
199                    4

[200 rows x 10 columns],      Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                    7                    5                  16
1                   17                    4                  11
2                   13                    3                  14
3                   16                    3                  14
4                   10                    3                  12
..                 ...                  ...                 ...
195                 17                    4                  17
196                 14                    5                  11
197                 11                    3                   9
198                  7                    5                   8
199                 11                    5                  17

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       4                    10                       5
1                       4                    12                       3
2                       3                     8                       3
3                       4                    10                       5
4                       5                    13                       3
..                    ...                   ...                     ...
195                     4                    14                       3
196                     5                    10                       3
197                     5                     8                       3
198                     4                    16                       4
199                     3                    14                       5

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                      9                      5                 14
1                     16                      5                 17
2                      7                      4                 16
3                     10                      3                 12
4                     12                      5                 11
..                   ...                    ...                ...
195                   13                      3                  8
196                   11                      4                 16
197                   13                      3                 14
198                   11                      4                  9
199                   13                      3                  8

     Friday Shift Length
0                      4
1                      3
2                      3
3                      5
4                      3
..                   ...
195                    3
196                    5
197                    3
198                    4
199                    4

[200 rows x 10 columns]]

In [39]:
def find_best(population):
    #Compares all members of a population and returns the best member
    P=len(population)
    best=population[0]
    fitness=objective_function(best)
    for member in population:
        if objective_function(member)< fitness:
            best=member
            fitness=objective_function(best)
    return best

In [40]:
best=find_best(population)

In [41]:
print(best)

     Monday Start Time  Monday Shift Length  Tuesday Start Time  \
0                   12                    5                   9
1                   15                    4                   8
2                   11                    3                  10
3                   14                    4                  16
4                   15                    4                  14
..                 ...                  ...                 ...
195                 16                    3                  11
196                 10                    4                  14
197                  7                    4                  10
198                 17                    4                   8
199                 12                    4                  11

     Tuesday Shift Length  Wednesday Start Time  Wednesday Shift Length  \
0                       5                    13                       5
1                       3                     8                       4
2                       5                    17                       4
3                       3                     7                       5
4                       3                    14                       3
..                    ...                   ...                     ...
195                     5                    11                       3
196                     3                    11                       3
197                     4                    15                       5
198                     3                    11                       3
199                     3                     9                       3

     Thursday Start Time  Thursday Shift Length  Friday Start Time  \
0                     17                      3                 13
1                      8                      3                  7
2                     17                      3                 10
3                     16                      3                 14
4                     10                      5                  7
..                   ...                    ...                ...
195                   12                      5                 12
196                   15                      5                  7
197                    9                      4                  8
198                   12                      5                 17
199                   13                      3                 10

     Friday Shift Length
0                      4
1                      4
2                      4
3                      3
4                      4
..                   ...
195                    5
196                    3
197                    3
198                    4
199                    4

[200 rows x 10 columns]

In [42]:
check_alpha(best)

41.5

In [43]:
def genetic_algorithm(popsize=6, gens=3, NumEmployee=200):
    #Creates a population of size P, lets it survive over gens generations
    #Returns the max fitness in the first generation, the max fitness in the last generation, and the best member
    init_pop=generate_population(P=popsize, WorkForceSize=NumEmployee)
    init_best=find_best(init_pop)
    init_best_fitness=objective_function(init_best)
    population=init_pop
    for i in range(0, gens):
        population=selection(population)
    best=find_best(population)
    best_fitness=objective_function(best)
    return [init_best_fitness, best_fitness, best]

In [44]:
p_list= [200]
g_list= [1000]
e_list= [20]
for p in p_list:
    for g in g_list:
        for e in e_list:            
            solution=genetic_algorithm(popsize=p, gens=g, NumEmployee=e)
            fileName='pop_'+str(p)+'_gen_'+str(g)+'_emp_'+str(e)+'.csv'
            df_result = solution[2]
            df_result = df_result.append({'First' : solution[0], 'Last' : solution[1]},   ignore_index = True) 
            df_result.to_csv(fileName)